
.home{
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding:100px;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.about{
  text-align: center;
  font-size: 18px;
}
.services{
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding:100px;
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container-1{
  text-align: center;
  display: flex;
  justify-content: flex;
}
.portfolio{
  padding: 50px;
  text-align: center;
  margin: 10px;

}
.contact{
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/c_image.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding:100px;
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 60px;
  padding-bottom: 60px;
}
#name{
  border-width: thin;
  border-style: solid;
}
#email{
  border-width: thin;
  border-style: solid;
}
#your{
  border: 70px;
  border-width: thin;
  border-style: solid;

}
#hiden{
  display: none;
}

#par{
  display: none;
}
.container-fluid{
  display: flex;
  justify-content: center;
}
.hi{
  text-align: center;
}

body{
  background: #f1f1f1;
  font-family: inherit;
  margin: 0;
  padding: 0;
}
.containers{
  width: 1200px;
  min-height: 500px;
  background: white;
  margin: 70px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.containers .imgs{
  position: relative;
  width: 250px;
  background: white;
  height: 250px;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.containers .imgs .imgbox{
  position: relative;
  overflow: hidden;
}
.containers .imgs .img1 img{
  max-width: 90%;
  transition: transform(2s);
}
.containers .imgs:hover .img1 img{
  transform: scale(1.2);
}
.containers .imgs .img1 img{
  max-width: 90%;
  transition: transform(2s);
}
.containers .imgs:hover .img1 img{
  transform: scale(1.2);
}

.containers .imgs .img2 img{
  max-width: 90%;
  transition: transform(2s);
}
.containers .imgs:hover .img2 img{
  transform: scale(1.2);
}

.containers .imgs .img3 img{
  max-width: 90%;
  transition: transform(2s);
}
.containers .imgs:hover .img3 img{
  transform: scale(1.2);
}

.containers .imgs .img4 img{
  max-width: 90%;
  transition: transform(2s);
}
.containers .imgs:hover .img4 img{
  transform: scale(1.2);
}

.containers .imgs .img5 img{
  max-width: 90%;
  transition: transform(2s);
}
.containers .imgs:hover .img5 img{
  transform: scale(1.2);
}

.containers .imgs .img6 img{
  max-width: 90%;
  transition: transform(2s);
}
.containers .imgs:hover .img6 img{
  transform: scale(1.2);
}

.containers .imgs .img7 img{
  max-width: 90%;
  transition: transform(2s);
}
.containers .imgs:hover .img7 img{
  transform: scale(1.2);
}

.containers .imgs .img8 img{
  max-width: 90%;
  transition: transform(2s);
}
.containers .imgs:hover .img8 img{
  transform: scale(1.2);
}
